<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.tschess.tschess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:screenOrientation="portrait"

            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name="io.tschess.tschess.init.ActivityInit"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="io.tschess.tschess.start.ActivityStart"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="portrait"/>
        <activity android:name="io.tschess.tschess.home.ActivityHome"
                  android:screenOrientation="portrait"/>
        <activity android:name="io.tschess.tschess.start.ActivityCreate"
                  android:screenOrientation="portrait"/>
        <activity android:name="io.tschess.tschess.snapshot.ActivitySnapshot"
                  android:screenOrientation="portrait"/>
        <activity android:name="io.tschess.tschess.tschess.ActivityTschess"
                  android:screenOrientation="portrait"/>
        <activity android:name="io.tschess.tschess.leaderboard.ActivityLeaderboard"
                  android:screenOrientation="portrait"/>
        <activity android:name="io.tschess.tschess.other.ActivityOther"
                  android:screenOrientation="portrait"/>


    </application>

</manifest>